<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Escenario {{ scenario_number }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    {% if scenario_number != 'end' %}
      <div class="progress-bar">
        Escenario
        {% for i in range(1, 6) %}
          <div class="progress-step {% if i == scenario_number|int %}active{% endif %}">{{ i }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <h2>Escenario {{ scenario_number }}: {{ question.station }}</h2>

    <div class="scenario">
      <!-- <p><strong>{{ question.station }}</strong></p> -->
       <p>{{ question.description }}</p>
      <p>{{ question.situation }}</p>
    </div>

    <form method="POST" action="/answer">
      <input type="hidden" name="scenario_number" value="{{ scenario_number }}">

      {% for option in question.options %}
        <div class="option-block">
          <button type="submit" name="answer" value="{{ loop.index0 }}">
            {{ option.text }} 
          </button>
        </div>
      {% endfor %}

    </form>
  </div>
</body>
</html>
