<!-- templates/start.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio ARCA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Bienvenidos al Domo ARCA</h1>
    <p>
      El mundo ya no es igual que antes. A continuación se te propondrá varios ecsenarios 
      que evaluarán la fasibilidad de esta nueva sociedad basada en la naturaleza de sus 
      habitantes.
    </p>
    <p>
      Contesta honestamente, y recuerda que el destino de este nuevo mundo está en tus manos.
    </p>
    <!-- <p>The world is no longer as you know it. Answer the following questions truthfully, for the fate of this new society depends on it.</p> -->
    <form method="GET" action="question/1">
      <!-- <input type="text" class="start-input" placeholder="Ingresa tu nombre" required /><br></br> -->
      <button type="submit">Start</button>
    </form>
  </div>
</body>
</html>
